html, body, #root {
  height: 100%;
}

:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  /*line-height: 1.5;*/
  /*font-weight: 400;*/

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

/* MUI 클라이언트 사이드 페이지네이션 안보이게 설정 */
.MuiTablePagination-root {
  display: none;
}
/* grid row가 에디팅중일때 editable 셀은 다르게 표시 */
.MuiDataGrid-cell.MuiDataGrid-cell--editing {
  border: 1px solid #aaaaaa;
}